{{> headerAdmin}}
<div id="admin-container">
    <div class="content-section">
        <div class="row admin-container">
            <div class="admin-container-left">
                <div class="admin-content">
                    <div class="admin-avatar">
                        <img src="https://www.kindpng.com/picc/m/699-6997452_administrator-network-icons-system-avatar-computer-transparent-admin.png" alt="">
                    </div>
                    <div class="admin-name">
                        <p>Welcome, Administrator !</p>
                    </div>
                </div>
                <div class="admin-list-category">
                    <div class="admin-content-header">
                        Danh mục quản lý
                    </div>
                    <div class="border-product"></div>
                    <ul class="admin-category">
                        <li class="admin-item-category"><a href="/admin/employee">Quản lý nhân viên</a></li>
                        <li class="admin-item-category"><a href="/admin/user">Quản lý người dùng</a></li>
                        <li class="admin-item-category"><a href="/admin/category">Quản lý danh mục</a></li>
                        <li class="admin-item-category"><a href="/admin/product">Quản lý sản phẩm</a></li>
                    </ul>
                </div>
            </div>
            <div class="admin-category admin-container-right">
                <div class="admin-category-content">
                    <div class="admin-header">
                        <div class="admin-info-header">
                            <i class="fa-brands fa-product-hunt"></i>
                            <p>
                                Quản lý danh mục
                            </p>
                        </div>
                        <label class="admin-add-category" onclick="showFormAdminAddCategory()">
                            Thêm danh mục
                        </label>  
                    </div>
                    <div class="admin-list-header">
                        <ul class="admin-list-info-product">
                            <li class="admin-item-info-product cat-title">Mã danh mục</li>
                            <li class="admin-item-info-product">Tên danh mục</li>
                            <li class="admin-item-info-product">&nbsp;</li>
                        </ul>
                    </div>
                    <div class="admin-info-content">
                        <ul class="admin-list-product">
                            <li class="admin-item-product code-cat">ãzvbnmmnkjamz</li>
                            <li class="admin-item-product cat-name">Kinh tế</li>
                            <li class="admin-item-product cat-icon">
                                <a href="">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                                <i class="fa-solid fa-trash-can"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modalAdmin}}

{{> footer}}
