{{> headerAdmin}}
<div id="admin-container">
    <div class="content-section">
        <div class="row admin-container">
            <div class="admin-container-left">
                <div class="admin-content">
                    <div class="admin-avatar">
                        <img src="https://www.kindpng.com/picc/m/699-6997452_administrator-network-icons-system-avatar-computer-transparent-admin.png" alt="">
                    </div>
                    <div class="admin-name">
                        <p>Welcome, Administrator !</p>
                    </div>
                </div>
                <div class="admin-list-category">
                    <div class="admin-content-header">
                        Danh mục quản lý
                    </div>
                    <div class="border-product"></div>
                    <ul class="admin-category">
                        <li class="admin-item-category"><a href="/admin/employee">Quản lý nhân viên</a></li>
                        <li class="admin-item-category"><a href="/admin/user">Quản lý người dùng</a></li>
                        <li class="admin-item-category"><a href="/admin/category">Quản lý danh mục</a></li>
                        <li class="admin-item-category"><a href="/admin/product">Quản lý sản phẩm</a></li>
                    </ul>
                </div>
            </div>
            <div class="admin-background admin-container-right">
                <img src="https://cdn.wallpapersafari.com/96/57/cvdFyn.jpg" alt="">
            </div>
        </div>
    </div>
</div>

{{> modalAdmin}}

{{> footer}}
