{{> headerAdmin}}
{{#if errorsLoginAdmin}}
    <div class="modal-toast">
        <button onclick="hiddenToast()"></button>
    </div>
    <div class="list-toast">
        <div class="toast toast--error">
            <div class="toast__icon">
                <i class="fa-solid fa-circle-exclamation"></i>
            </div>
            <div class="toast__body">
                <h3 class="toast__title">Đăng nhập thất bại!</h3>
                <p class="toast__msg">
                    {{#each errorsLoginAdmin}}
                        {{this}}
                        <br>       
                    {{/each}}
                </p>
            </div>
            <div class="toast__close" onclick="hiddenToast();">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>
{{/if}}
<div id="admin-container">
    <div class="content-section">
        <div class="row admin-container">
            <div class="admin-container-left">
                <div class="admin-content">
                    <div class="admin-avatar">
                        <img src="https://www.kindpng.com/picc/m/699-6997452_administrator-network-icons-system-avatar-computer-transparent-admin.png" alt="">
                    </div>
                    <div class="admin-name">
                        <p>Welcome, Administrator !</p>
                    </div>
                </div>
                <div class="admin-list-category">
                    <div class="admin-content-header">
                        Danh mục quản lý
                    </div>
                    <div class="border-product"></div>
                    <ul class="admin-category">
                        <li class="admin-item-category"><a href="/admin/employee">Quản lý nhân viên</a></li>
                        <li class="admin-item-category"><a href="/admin/user">Quản lý người dùng</a></li>
                        <li class="admin-item-category"><a href="/admin/category">Quản lý danh mục</a></li>
                        <li class="admin-item-category"><a href="/admin/product">Quản lý sản phẩm</a></li>
                    </ul>
                </div>
            </div>
            <div class="admin-background admin-container-right">
                <img src="https://cdn.wallpapersafari.com/96/57/cvdFyn.jpg" alt="">
            </div>
        </div>
    </div>
</div>

{{> modalAdmin}}

{{> footer}}
