<footer id="footer">
    <div class="content-section">
        <div class="row footer-detail">
            <div class="column-content column-content-1">
                <h3 class="footer-section-heading">Nhà Sách Tương Lai - Sách gì cũng có, mua ngay!</h3>
                <p class="footer-section-contain"> 
                    NhaSachTuongLai - ứng dụng mua sắm trực tuyến, nơi tổng hợp các loại sách chính hãng từ nhiều nguồn uy tín. NhaSachTuongLai sẽ cung cấp 
                    cho bạn những loại sách hay, thú vị, tin cậy, an toàn và miễn phí và an tâm khi mua hàng trực tuyến hơn bao giờ hết!
                </p>
            </div>
            <div class="column-content column-content-2">
                <ul class="footer-list">
                    <li class="footer-list-title">Nhà sách trực tuyến</li>
                    <li>Điện thoại: 0906391823</li>
                    <li>Email: ngphuc.2808@gmail.com</li>
                    <li>Địa chỉ: Số 01, Võ Văn Ngân, TP. Thủ Đức, TP. Hồ Chí Minh</li>
                    <li class="footer-list-powered">Powered by Group 1</li>
                </ul>
                <div class="row footer-link-list-icon">
                    <a href="#"><i class="fa-brands fa-facebook-square a-fb"></i></a>
                    <a href="#"><i class="fa-brands fa-instagram-square a-ins"></i></a>
                    <a href="#"><i class="fa-brands fa-github-square a-git"></i></i></a>
                    <a href="#"><i class="fa-brands fa-google-plus-square a-google"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>