<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../public/img/icon_page.jpg">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../public/css/base.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/admin.css">
    <link rel="stylesheet" href="../public/css/responsive.css">
    <title>Nhà sách tương lai</title>
</head>

<body>
    <div class="app">
        <header id="header">
            <!--TOP NATIVE-->
            <div class="content-section b-color">
                <nav class="row navbar d-flex">
                    <div class="header-logo pointer">
                        <img src="../public/img/logo_page2.JPG" alt="" class="width-100 height-100">
                    </div>
                    <ul class="navbar-list list-1">
                        <li class="navbar-item navbar-item-separate">
                            <i class="fa-solid fa-book-open"></i>
                            <a href="#">Trang chủ</a>
                        </li>
                        <li class="connect-tag">
                            <span class="connect-tag-item">Kết nối</span>
                            <a href="#" class="connect-tag-icon connect-tag-icon-fb">
                                <i class="fa-brands fa-facebook"></i>
                                <div class="connect_qr_code_fb">
                                    <img src="../public/img/qr_code.jpg" alt="QR Code" class="qr_img_fb">
                                </div>
                            </a>
                            <a href="#" class="connect-tag-icon connect-tag-icon-gh">
                                <i class="fa-brands fa-github"></i>
                                <div class="connect_qr_code_gh">
                                    <img src="../public/img/qr_code_gh.jpg" alt="QR Code" class="qr_img_gh">
                                </div>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="row header-content">
                    <div class="header-logo-2 pointer">
                        <img src="../public/img/logo_page2.JPG" alt="" class="height-100 width-100">
                    </div>
                    <label for="input-nav-mobile" class="header-menu pointer">
                        <span class="icon-menu" href="#">
                            <i class="fa-solid fa-bars"></i>
                        </span>
                    </label>
                    <input type="checkbox" hidden name="" id="input-nav-mobile">
                    <label for="input-nav-mobile" class="nav-overlay" onclick="hiddenNXB()"></label>
                    <nav class="nav-mobile">
                        <label for="input-nav-mobile" class="nav-close" onclick="hiddenNXB()">
                            <i class="fa-solid fa-xmark"></i>
                        </label>
                        <ul class="nav-mobile-list">
                            <li class="nav-mobile-list-nxb">
                                <label for="mobile-nxb" class="nav-mobile-link">Nhà xuất bản</label>
                                <input type="checkbox" hidden id="mobile-nxb">
                                <ul class="nav-nxb-list">
                                    <li class="nav-nxb-item">
                                        <a class="nav-nxb-item-name" href="#">
                                            Kim Đồng
                                        </a>
                                    </li>
                                    <li class="nav-nxb-item">
                                        <a class="nav-nxb-item-name" href="#">
                                            Giáo Dục
                                        </a>
                                    </li>
                                    <li class="nav-nxb-item">
                                        <a class="nav-nxb-item-name" href="#">
                                            Hồng Đức
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Kinh tế</a>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Văn học</a>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Tâm lý - Kĩ năng sống</a>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Ngoại ngữ</a>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Tiểu thuyết</a>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Tiểu sử - Hồi ký</a>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Giáo khoa - Tham khảo</a>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Sách thiếu nhi</a>
                            </li>
                            <li>
                                <a href="#" class="nav-mobile-link">Chuyên ngành</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-search">
                        <input class="" type="text" name="" id="" placeholder="Tìm kiếm">
                        <i class="search-btn fa-solid fa-magnifying-glass"></i>
                        <div class="history-find">
                            <h4 class="history-find-heading">Lịch sử tìm kiếm</h4>
                            <ul class="history-find-list">
                                <li class="history-find-item">
                                    <a href="#">Bút bi</a>
                                </li>
                                <li class="history-find-item">
                                    <a href="#">Bút chì</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="navbar-list list-2">
                        <div class="navbar-item">
                            <i class="fa-solid fa-user"></i>
                            <label for="input-modal-login" onclick="showFormLogin()">
                                <b>Đăng nhập</b>
                            </label>
                        </div>
                    </div>
                    <div class="header-user pointer">
                        <button onclick="showFormLogin()" class="icon-user">
                            <i class="fa-solid fa-user"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="list-category w-100 bc-white">
                <div class="content-section">
                    <div class="row content-categories">
                        <ul class="content-categories-list">
                            <li class="list-item list-item-nxb list-item-separate">
                                <span class="list-item-title" href="#">
                                    <i class="icon-navbar fa-solid fa-bars"></i>
                                    <p class="pull-right">Nhà xuất bản</p>
                                </span>
                                <ul class="nxb-list">
                                    <li class="nxb-item">
                                        <a class="nxb-item-name" href="#">
                                            <i class="fa-solid fa-caret-right"></i> Kim Đồng
                                        </a>
                                    </li>
                                    <li class="nxb-item">
                                        <a class="nxb-item-name" href="#">
                                            <i class="fa-solid fa-caret-right"></i> Giáo Dục
                                        </a>
                                    </li>
                                    <li class="nxb-item">
                                        <a class="nxb-item-name" href="#">
                                            <i class="fa-solid fa-caret-right"></i> Hồng Đức
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="list-item list-item-separate">
                                <span class="list-item-title" href="#">
                                    <p>Kinh tế</p>
                                </span>
                            </li>
                            <li class="list-item list-item-separate">
                                <a class="list-item-title" href="#">
                                    <p>Văn học</p>
                                </a>
                            </li>
                            <li class="list-item list-item-separate">
                                <a class="list-item-title" href="#">
                                    <p>Tâm lý - Kĩ năng sống</p>
                                </a>
                            </li>
                            <li class="list-item list-item-separate">
                                <a class="list-item-title" href="#">
                                    <p>Ngoại ngữ</p>
                                </a>
                            </li>
                            <li class="list-item list-item-separate">
                                <a class="list-item-title" href="#">
                                    <p>Tiểu thuyết</p>
                                </a>
                            </li>
                            <li class="list-item list-item-separate">
                                <a class="list-item-title" href="#">
                                    <p>Tiểu sử - Hồi ký</p>
                                </a>
                            </li>
                            <li class="list-item list-item-separate">
                                <a class="list-item-title" href="#">
                                    <p>Giáo khoa - Tham khảo</p>
                                </a>
                            </li>
                            <li class="list-item list-item-separate">
                                <a class="list-item-title" href="#">
                                    <p>Sách thiếu nhi</p>
                                </a>
                            </li>
                            <li class="list-item">
                                <a class="list-item-title" href="#">
                                    <p>Chuyên ngành</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="main">
            <div class="content">
                <div class="topnav">
                    <a class="fa-solid fa-home" href="/assets/Interface/HomePage.html"></a>
                    <a href="/assets/Interface/HomePage.html">Bookshop Management</a>
                    <div class="dropdown">
                        <a class="fas fa-list-ul bar"></a>
                        <div class="dropdown-child">
                            <a class="fas fa-envelope bell"></a>
                            <a class="fas fa-bell bell"></a>
                            <a class="fas fa-book-medical" href="#popup-add-book"></a>
                        </div>
                    </div>
                </div>
                <table>
                    <tr style="background-color:skyblue; height: 50px">
                        <td>
                            Image
                        </td>
                        <td>
                            Name
                        </td>
                        <td>
                            Author
                        </td>
                        <td>
                            Release year
                        </td>
                        <td>
                            Publisher
                        </td>
                        <td>
                            Category
                        </td>
                        <td>
                            Price
                        </td>
                        <td>
                            Change
                        </td>
                    </tr>
                    <tr style="height: 150px; background-color: #e0daee; color: #Bb505c;">
                        <td>
                            <img src="../public/img/admin/ky-nang-lam-viec-nhom-cua-nguoi-nhat.jpg" style="width: 100%; height: 100%">
                        </td>
                        <td>
                            Kỹ năng làm việc nhóm của người Nhật
                        </td>
                        <td>
                            Hidehiko Hamada
                        </td>
                        <td>
                            2022
                        </td>
                        <td>
                            1980 Books
                        </td>
                        <td>
                            Kỹ năng
                        </td>
                        <td>
                            70000
                        </td>
                        <td>
                            <div><a style="cursor: pointer;" href="#popup-edit-book" class="a-edit-del">Sửa</a></div>
                            <div><a style="cursor: pointer;" href="#popup-delete-book" class="a-edit-del">Xóa</a></div>
                        </td>
                    </tr>
                    <tr style="height: 150px; background-color: #cfc5e8; color: #Bb505c;">
                        <td>
                            <img src="../public/img/admin/cay-cam-ngot-cua-toi.jpg" style="width: 100%; height: 100%">
                        </td>
                        <td>
                            Cây cam ngọt của tôi
                        </td>
                        <td>
                            José Mauro de Vasconcelos
                        </td>
                        <td>
                            2022
                        </td>
                        <td>
                            Nhà Xuất Bản Hội Nhà Văn
                        </td>
                        <td>
                            Văn học
                        </td>
                        <td>
                            50000
                        </td>
                        <td>
                            <div><a style="cursor: pointer;">Sửa</a></div>
                            <div><a style="cursor: pointer;">Xóa</a></div>
                        </td>
                    </tr>
                    <tr style="height: 150px; background-color: #e0daee; color: #Bb505c;">
                        <td>
                            <img src="../public/img/admin/luat-tam-thuc.jpg" style="width: 100%; height: 100%">
                        </td>
                        <td>
                            Luật tâm thức
                        </td>
                        <td>
                            Ngô Sa Thạch
                        </td>
                        <td>
                            2022
                        </td>
                        <td>
                            NXB Dân Trí
                        </td>
                        <td>
                            Khám phá
                        </td>
                        <td>
                            190000
                        </td>
                        <td>
                            <div><a style="cursor: pointer;">Sửa</a></div>
                            <div><a style="cursor: pointer;">Xóa</a></div>
                        </td>
                    </tr>
                </table>

                <div id="popup-add-book" class="popup">
                    <div class="popup-content" style="background-color: #Fdc7cb;">
                        <a href="#" class="close">x</a>
                        <div class="form">
                            <h2 class="manage-book">Trang Thêm Sách</h2>
                            <form action="">
                                <div class="input-form">
                                    <input type="text" name="book-name" placeholder="Tên sách">
                                </div>
                                <div class="input-form">
                                    <input type="password" name="author" placeholder="Tác giả">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="publisher" placeholder="Nhà xuất bản">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="publish-year" placeholder="Năm xuất bản">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="categories" placeholder="Thể loại">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="price" placeholder="Giá">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="image" placeholder="Link ảnh">
                                </div>
                                <div class="input-submit">
                                    <input type="submit" value="Thêm">
                                </div>
                        </div>
                    </div>
                </div>
                <div id="popup-edit-book" class="popup" href="#">
                    <div class="popup-content" style="background-color: #Fdc7cb;">
                        <a href="#" class="close">x</a>
                        <div class="form">
                            <h2 class="manage-book">Trang Sửa Thông Tin Sách</h2>
                            <form action="">
                                <div class="input-form">
                                    <input type="text" name="book-name" placeholder="Tên sách" value="Kỹ năng làm việc nhóm của người Nhật">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="author" placeholder="Tác giả" value="Hidehiko Hamada">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="publisher" placeholder="Nhà xuất bản" value="1980 Books">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="publish-year" placeholder="Năm xuất bản" value="2022">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="categories" placeholder="Thể loại" value="Kỹ năng">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="price" placeholder="Giá" value="70000">
                                </div>
                                <div class="input-form">
                                    <input type="text" name="image" placeholder="Link ảnh" value="/assets/img/admin/ky-nang-lam-viec-nhom-cua-nguoi-nhat.jpg" style="width: 50%; vertical-align:middle">
                                </div>
                                <div class="input-submit">
                                    <input type="submit" value="Cập Nhật">
                                </div>
                        </div>
                    </div>
                </div>

                <div id="popup-delete-book" class="popup" href="#">
                    <div class="popup-content" style="background-color: #Fdc7cb;">
                        <a href="#" class="close">x</a>
                        <div class="form">
                            <h2 class="manage-book">Chắc Chắn Xóa Sách?</h2>
                            <form action="">
                                <table>
                                    <tr>
                                        <td>
                                            <div class="input-form">
                                                <a name="delete" type="button" class="a-edit-del" href="#">Chắc Chắn</a>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-form">
                                                <a name="n-delete" type="button" href="#" class="a-edit-del">Bỏ qua</a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                </div>

            </div>
            <div class="sidebar">
                <h3 class="bar1">
                    DASHBOARD
                </h3>
                <div class="bar-forall dropdown">
                    <a class="fas fa-window-restore bar-manage"></a>
                    <a class="bar-manage">Book Management</a>
                    <div id="menu" class="dropdown-child">
                        <ul class="sub-menu">
                            <li><a class="dropdown-child-book">Categories</a></li>
                            <li><a class="dropdown-child-book ">Publishing Company</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bar-forall">
                    <a class="fas fa-clipboard-list bar-manage"></a>
                    <a class="bar-manage">Oder Management</a>
                </div>
                <div class="bar-end">
                    <a class="fas fa-chart-line bar-manage"></a>
                    <a class="bar-manage">Statistic</a>
                </div>
            </div>
        </div>

        <footer id="footer">
            <div class="content-section">
                <div class="row footer-detail">
                    <div class="column-content column-content-1">
                        <h3 class="footer-section-heading">Nhà Sách Tương Lai - Sách gì cũng có, mua ngay!</h3>
                        <p class="footer-section-contain"> 
                            NhaSachTuongLai - ứng dụng mua sắm trực tuyến, nơi tổng hợp các loại sách chính hãng từ nhiều nguồn uy tín. NhaSachTuongLai sẽ cung cấp 
                            cho bạn những loại sách hay, thú vị, tin cậy, an toàn và miễn phí và an tâm khi mua hàng trực tuyến hơn bao giờ hết!
                        </p>
                    </div>
                    <div class="column-content column-content-2">
                        <ul class="footer-list">
                            <li class="footer-list-title">Nhà sách trực tuyến</li>
                            <li>Điện thoại: 0906391823</li>
                            <li>Email: ngphuc.2808@gmail.com</li>
                            <li>Địa chỉ: Số 01, Võ Văn Ngân, TP. Thủ Đức, TP. Hồ Chí Minh</li>
                            <li class="footer-list-powered">Powered by Group 1</li>
                        </ul>
                        <div class="row footer-link-list-icon">
                            <a href="#"><i class="fa-brands fa-facebook-square a-fb"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram-square a-ins"></i></a>
                            <a href="#"><i class="fa-brands fa-github-square a-git"></i></i></a>
                            <a href="#"><i class="fa-brands fa-google-plus-square a-google"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        
        <input type="checkbox" hidden name="" id="input-modal-register">
        <input type="checkbox" hidden name="" id="input-modal-login">
        <div class="modal-login">
            <button onclick="hiddenModal()"></button>
        </div>
        <div id="formRes" class="modal-container modal-signup">
            <div class="modal-container-logo">
                <i class="fa-solid fa-circle-user"></i>
                <p href="#" class="text-login">ĐĂNG KÝ</p>
            </div>
            <div class="modal-container-detail">
                <div class="detail-login register">
                    <span>Đăng ký</span>
                </div>
                <label for="input-modal-register" class="btn-close" onclick="hiddenModal()">
                    <i class="fa-solid fa-xmark"></i>
                </label>
                <form action="">
                    <input type="text" name="username" placeholder="Tài khoản" class="control-form">
                    <input type="email" name="email" placeholder="Email" class="control-form">
                    <input type="text" name="phone" placeholder="Số điện thoại" class="control-form">
                    <div class="input-pwd">
                        <input type="password" name="password" placeholder="Mật khẩu" class="control-form">
                        <input type="password" name="confirm" id="confirm" placeholder="Xác nhận mật khẩu" class="control-form">
                    </div>
                    <div class="accept">
                        <input type="checkbox" id="check-accept" name="accept"> 
                        <label for="accept">          
                            Tôi xác nhận các yêu cầu trên là đúng
                        </label>
                    </div>
                    <div class="button-submit">
                        <button class="btn btn-register">
                            <span>Đăng ký</span> 
                        </button>    
                    </div>
                </form>
                <div class="clone-button">
                    <button onclick="showFormLogin()">Đăng nhập ở đây</button>   
                </div>
            </div>
        </div>
    
        <div id="formLog" class="modal-container modal-signin">
            <div class="modal-container-logo">
                <i class="fa-solid fa-circle-user"></i>
                <p href="#" class="text-login">ĐĂNG NHẬP</p>
            </div>
            <div class="modal-container-detail">
                <div class="detail-login login">
                    <span>Đăng nhập</span>
                </div>
                <label for="input-modal-login" class="btn-close" onclick="hiddenModal()">
                    <i class="fa-solid fa-xmark"></i>
                </label>
                <form action="">
                    <input type="text" name="username" id="username" placeholder="Tài khoản" class="control-form">
                    <input type="password" name="password" placeholder="Mật khẩu" class="control-form">
                    <div class="signin-container">
                        <div class="button-submit">
                            <button class="btn btn-success">
                                <span>Đăng nhập</span> 
                            </button>    
                        </div>
                        <div class="forget-password">
                            <a href="#">Quên mật khẩu?</a>   
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="../public/js/frontend/plugin.js"></script>
    <script src="../public/js/frontend/formLogin.js"></script>
    <script src="../public/js/frontend/pagination.js"></script>
    </div>
</body>