{{> header}}

<div id="container">
    <div class="content-section">
        <div class="order-content-section">
            <div class="form-order-header">
                <div class="order-address">
                    <div class="order-local">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Địa chỉ nhận hàng</p> 
                    </div>
                    <div class="order-name-phone">
                        <div class="name-phone">
                            <p>Nguyễn Hoàng Phúc</p>
                            <p>0906391823</p>
                        </div>
                        <div class="address">
                            191 đường số 30 phường Tân Phong, quận 7, Phường Tân Phong, Quận 7, TP. Hồ Chí Minh
                        </div>
                    </div>  
                </div>  
            </div>
            <div class="form-order-container">
                <div class="order-container-header">
                    <p>Sản phẩm</p>
                    <ul class="">
                        <li>Đơn giá</li>
                        <li>Số lượng</li>
                        <li>Thành tiền</li>
                    </ul>
                </div>
                <div class="order-container-content">
                    <ul>
                        <li>
                            <div class="order-image">
                                <img src="https://media.kenhtuyensinh.vn/images/cms/2020/09/ac-nhan-tam.jpg" alt="">
                            </div>
                            <div class="order-name">
                                Tỏi Vương Switch | Garlic King / Bulbasaur Linear 60g | Stemaaaaaaaaaaaa bch
                            </div>
                        </li>
                        <li>5.000</li>
                        <li>1</li>
                        <li>5.000</li>
                    </ul>
                </div>
                <div class="order-container-footer">
                    <div class="order-notify">
                        <label for="order-input" id="label-order-input">
                            <span>Lời nhắn: </span> 
                            <input id="order-input" placeholder="Lưu ý cho cửa hàng"></input>
                        </label>
                        <p>Tổng số tiền (1 sản phẩm): <span>21.000</span></p>
                    </div>
                </div>
                <div class="order-container-button">
                    <button>Đặt hàng</button>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal}}

{{> footer}}
