{{> header}}

<div id="container">
    <div class="content-section">
        <div class="row basket-title">
            <p>SẢN PHẨM YÊU THÍCH <span>(1 sản phẩm)</span></p>
        </div>
        <div class="row favorite-container">
            <div>
                <div class="list-favorite">
                    <div class="card-item">
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-buy">
                            <button class="remove-from-favorite">
                                <i class="fa-solid fa-trash-can"></i>
                                Xóa
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-buy">
                            <button class="remove-from-favorite">
                                <i class="fa-solid fa-trash-can"></i>
                                Xóa
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-buy">
                            <button class="remove-from-favorite">
                                <i class="fa-solid fa-trash-can"></i>
                                Xóa
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-buy">
                            <button class="remove-from-favorite">
                                <i class="fa-solid fa-trash-can"></i>
                                Xóa
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-buy">
                            <button class="remove-from-favorite">
                                <i class="fa-solid fa-trash-can"></i>
                                Xóa
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-buy">
                            <button class="remove-from-favorite">
                                <i class="fa-solid fa-trash-can"></i>
                                Xóa
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal}}

{{> footer}}
