{{> header}}

<div id="container">
    <div class="content-section">
        <div class="row basket-title">
            <p>GIỎ HÀNG <span>(1 sản phẩm)</span></p>
        </div>
        <div class="row basket-container">
            <div class="basket-container-left">
                <div class="basket-header">
                    <input type="checkbox" name="" id="" class="checkbox-add-cart">
                    <p class="basket-select-all">Chọn tất cả (1 sản phẩm)</p>
                    <p class="basket-money">Thành tiền</p>
                </div>
                <div class="basket-content">
                    <a href="#">
                        <ul class="basket-product-list">
                            <li class="basket-product-item">
                                <div>
                                    <input type="checkbox" name="" id="" class="checkbox-add-cart item-center">
                                </div>
                                <div>
                                    <img src="https://img.abaha.vn/photos/origin/83-1586781803-myphamohui-lgvina.png" alt="">
                                </div>
                                <div class="product-item-name">
                                    <p>
                                        Hộp Bột Nặn Playdoh NHAT/B5517B/GR - Xanh Lá                                              
                                    </p>
                                    <label for="number" class="quantity">
                                        <span>Số lượng<input type="number" id="number" min="1" max="9" step="1" value="1"></span> 
                                    </label>
                                </div>

                                <p class="product-price item-center">
                                    18.750 đ                                 
                                </p>
                                <p class="cancel-product item-center">
                                    <i class="fa-solid fa-trash-can"></i>
                                </p>
                            </li>
                            <div class="border-product"></div>
                        </ul>
                    </a>
                </div>
            </div>
            <div class="basket-container-right">
                <div class="basket-price">
                    <div class="d-flex">
                        <p>Thành tiền</p>
                    </div>
                    <div class="d-flex">
                        <p>VAT</p>
                        <p>5%</p>
                    </div>
                    <div class="border-product"></div>
                    <div class="d-flex">
                        <p><b>Tổng số tiền</b></p>
                    </div>
                    <div><button>Thanh toán</button></div>
                    <div><button>Thanh toán</button></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal}}