{{> header}}

<div id="container">
    <div class="content-section">
        <div class="row category-container">
            <div class="category-container-left">
                <div class="category-content">
                    <div class="header-category d-flex">
                        <p>Nhà xuất bản</p>
                    </div>
                    <div class="border-product"></div>
                    <ul class="category-list">
                        <li class="category-item">
                            Kim Đồng
                        </li>
                    </ul>
                </div>
            </div>
            <div class="category-container-right">
                <div class="categories-content">
                    <div class="category-header">
                        <p class="category-title">Sản phẩm của Eiichiro Oda</p>
                    </div>
                    <div class="border-product"></div>
                    <div class="category-product">
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                        <div class="card-item">
                            <div class="card-item-label-favorite">
                                <i class="fa-solid fa-check"></i>
                                <span>Yêu thích</span>
                            </div>
                            <div class="card-item-sale-off">
                                <span class="sale-off-percent">50%</span>
                                <span class="sale-off-label">GIẢM</span>
                            </div>
                            <div class="card-item-img">
                                <a href="#">
                                    <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                                </a>
                            </div>
                            <p class="card-item-title">
                                Move Up 2 (2021)
                            </p>
                            <div class="card-item-price">
                                <span class="old-price">100.000 đ</span>
                                <span class="new-price">50.000 đ</span>
                            </div>
                            <div class="card-item-favorite">
                                <div class="favorite-rating"></div>
                                <div class="favorite-icon">
                                    <i class="favorite-heart fa-regular fa-heart"></i>
                                    <i class="favorite-heart-fill fa-solid fa-heart"></i>
                                </div>
                            </div>
                            <div class="card-item-buy">
                                <button class="add-to-basket">
                                    <i class="fa-solid fa-basket-shopping"></i>
                                    Thêm giỏ hàng
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="border-product"></div>
                    <div class="category-footer">
                        <div class="pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal}}

{{> footer}}
