{{> header}}

<div id="container">
    <div class="content-section">
        <div class="row user-container">
            <div class="user-container-left">
                <div class="user-content">
                    <div class="user-avatar">
                        <img src="https://jutsume.com/images/2021/05/09/gojou-satoru-shared-by-ana-on-we-heart-it.jpg" alt="">
                    </div>
                    <div class="user-name">
                        <p>Your name</p>
                    </div>
                </div>
            </div>
            <div class="user-container-right">
                <div class="user-info-content">
                    <div class="user-header">
                        <p class="user-title">Thông tin của bạn</p>
                    </div>
                    <div class="border-product"></div>
                    <div class="user-info">
                        <form action="" class="form-info">
                            <label for="user-info-name">
                                <p>Họ tên</p> 
                                <input id="user-info-name" type="text" placeholder="Họ tên">
                            </label>
                            <label for="user-info-dob">
                                <p>Ngày sinh</p>
                                <input id="user-info-dob" type="text" placeholder="Ngày sinh">
                            </label>
                            <label for="user-info-mail">
                                <p>Email</p>
                                <input id="user-info-mail" type="email" placeholder="Email">
                            </label>
                            <label for="user-info-phone">
                                <p>Số điện thoại</p>
                                <input id="user-info-phone" type="text" placeholder="Số điện thoại">
                            </label>
                            <label for="user-info-address">
                                <p>Địa chỉ</p>
                                <input id="user-info-address" type="text" placeholder="Địa chỉ">
                            </label>
                            <label for="user-info-message">
                                <p>Giới thiệu</p>
                                <textarea id="user-info-message" placeholder="Giới thiệu" aria-invalid="true" aria-required="true"></textarea>
                            </label>
                            <button type="submit" class="update-info">Cập nhật</button>
                        </form>
                        <div class="form-icon-detail">
                            <p>Thông tin liên lạc</p>
                            <div class="icon-info">
                                <div class="info-address">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p>Số 1 Võ Văn Ngân</p>
                                </div>
                                <div class="info-phone">
                                    <i class="fa-solid fa-phone"></i>
                                    <p>0906391823</p>
                                </div>
                                <div class="info-mail">
                                    <i class="fa-solid fa-envelope"></i>
                                    <p>@hcmute.edu.vn</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal}}