{{> header}}

<div id="container">
    <div class="content-section">
        <div class="detail-product">
            <div class="row product-container">
                <div class="product-container-left">
                    <div class="main-img">
                        <img src="https://www.nxbgd.vn/Attachments/images/Ban%20Tuyen%20truyen/SHS%20Tieng%20Anh%202%20-%20Bia(1).jpg" alt="">
                    </div>
                    <div class="low-img">
                        <img src="https://www.nxbgd.vn/Attachments/images/Ban%20Tuyen%20truyen/SHS%20Tieng%20Anh%202%20-%20Bia(1).jpg" alt="">
                        <img src="https://www.nxbgd.vn/Attachments/images/Ban%20Tuyen%20truyen/SHS%20Tieng%20Anh%202%20-%20Bia(1).jpg" alt="">
                        <img src="https://www.nxbgd.vn/Attachments/images/Ban%20Tuyen%20truyen/SHS%20Tieng%20Anh%202%20-%20Bia(1).jpg" alt="">
                    </div>
                </div>
                <div class="product-container-right">
                    <div class="product-header">
                        <p class="product-title">Sách Giáo Khoa Bộ Lớp 11 - Sách Bài Học (Bộ 14 Cuốn) (2022) + 2 Cuộn Bao Sách Nylon TP</p>
                        <p class="product-nxb">Nhà xuất bản: <span>NXB Giáo Dục Việt Nam</span></p>
                        <div class="product-rating">
                            <div class="favorite-rating"></div> 
                            <p>(0 đánh giá)</p>
                        </div> 
                        <p class="product-price">
                            199.000 đ
                        </p>
                        <div class="product-quantity">
                            <label for="number" class="quantity">
                                <span>Số lượng<input type="number" id="number" min="1" max="9" step="1" value="1"></span> 
                            </label>
                        </div>
                        <div class="button-buy">
                            <button>
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                            <button>Mua ngay</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal}}

{{> footer}}
