{{> header}}

<div id="container">
    <div class="content-section">
        <div class="row content-section-adv">
            <div class="content-section-slider">
                <div class="slider-main">
                    <div class="slider-item">
                        <a href="#">
                            <img src="https://cdn0.fahasa.com/media/magentothem/banner7/MonthlySale_T4_mainbanner__840x320.jpg" alt="">
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img src="https://cdn0.fahasa.com/media/magentothem/banner7/840x320_1.png" alt="">
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img src="https://cdn0.fahasa.com/media/magentothem/banner7/disney-resize-840x320-t4.jpg" alt="">
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img src="https://cdn0.fahasa.com/media/magentothem/banner7/SHOPEEPAY_DDAY_THANG4_BO1_840_x_320.jpg" alt="">
                        </a>
                    </div>
                    <div class="slider-item">
                        <a href="#">
                            <img src="https://cdn0.fahasa.com/media/magentothem/banner7/ff104288c86706395f76.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="content-section-img">
                <div class="content-section-notify">
                    <a href="#">
                        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-04-2022/MonthlySale_T4_bo1__392x156.jpg" alt="Notify">
                    </a>
                </div>
                <div class="content-section-notify">
                    <a href="#">
                        <img src="https://cdn0.fahasa.com/media/wysiwyg/Thang-03-2022/392x156_manga.jpg" alt="Notify">
                    </a>
                </div>
            </div>
        </div>
        <div class="row container-list-product">
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name a-red" class="a-red" href="#">
                        Sách Bán Chạy
                    </a>
                </div>
                <div class="list-product">
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name a-red" class="a-red" href="#">
                        Sách Mới
                    </a>
                </div>
                <div class="list-product">
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-item-label-favorite">
                            <i class="fa-solid fa-check"></i>
                            <span>Yêu thích</span>
                        </div>
                        <div class="card-item-sale-off">
                            <span class="sale-off-percent">50%</span>
                            <span class="sale-off-label">GIẢM</span>
                        </div>
                        <div class="card-item-img">
                            <a href="#">
                                <img src="https://cdn0.fahasa.com/media/catalog/product//a/c/acc6c6b332b1fbefa2a0.jpg" alt="">
                            </a>
                        </div>
                        <p class="card-item-title">
                            Move Up 2 (2021)
                        </p>
                        <div class="card-item-price">
                            <span class="old-price">100.000 đ</span>
                            <span class="new-price">50.000 đ</span>
                        </div>
                        <div class="card-item-favorite">
                            <div class="favorite-rating"></div>
                            <div class="favorite-icon">
                                <i class="favorite-heart fa-regular fa-heart"></i>
                                <i class="favorite-heart-fill fa-solid fa-heart"></i>
                            </div>
                        </div>
                        <div class="card-item-buy">
                            <button class="add-to-basket">
                                <i class="fa-solid fa-basket-shopping"></i>
                                Thêm giỏ hàng
                            </button>
                        </div>
                    </div>
                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Kinh Tế
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Văn Học
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Tâm Lý
                    </a>
                    <a class="content-list-product-title-name ml-8" href="#">
                        Sách Kỹ Năng Sống
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Ngoại Ngữ
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Tiểu Thuyết
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Tiểu Sử
                    </a>
                    <a class="content-list-product-title-name ml-8" href="#">
                        Sách Hồi Ký
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Giáo Khoa
                    </a>
                    <a class="content-list-product-title-name ml-8" href="#">
                        Tài Liệu Tham Khảo
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Thiếu Nhi
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
            <div class="content-list-product">
                <div class="content-list-product-title">
                    <a class="content-list-product-title-name" href="#">
                        Sách Chuyên Ngành
                    </a>
                </div>
                <div class="list-product">

                </div>
                <div class="content-list-product-footer">
                    <a href="#">
                        Xem thêm
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{{> modal}}