#order-container {
    padding-top: 10%;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.order-head {
    color: #e66619;
    text-align: center;
    padding-top: 5%;
    font-size: 75px;
    font-weight: bold;
    width: 100%;
    height: 100%;
    padding-bottom: 10%;
}

.or-table {
    width: 80%;
    height: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 3px solid #e66619;
    border-radius: 30px;
    margin-left: 10%;
    padding-bottom: 5%;
}

.or-row {
    width: 100%;
}

.dh-text {
    width: 30%;
    font-size: 25px;
    color: #e66619;
    padding-left: 3%;
}

.dh-infor {
    width: 100%;
    padding-left: 5%;
    outline: none;
    border: 1px solid #e66619;
    font-size: 25px;
    letter-spacing: 1px;
    color: #Bb505c;
    background: transparent;
    border-radius: 30px;
    background-color: #ffffff;
}

.or-row input {
    width: 100%;
    padding-left: 5%;
    outline: none;
    border: 1px solid #e66619;
    font-size: 25px;
    letter-spacing: 1px;
    color: #Bb505c;
    background: transparent;
    border-radius: 30px;
    background-color: #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 1px solid #e66619;
    border-radius: 30px;
    color: #Bb505c;
    height: 40px;
    font-size: 25px;
}

.select {
    position: relative;
    display: flex;
    width: 100%;
    line-height: 3;
    background: #fff;
    overflow: hidden;
    color: #e66619;
}

select {
    flex: 1;
    padding: 0 .5em;
    color: #Bb505c;
    cursor: pointer;
    padding-left: 5%;
}

.or-submit {
    text-align: center;
    padding-top: 5%;
}

.or-submit input {
    width: 20%;
    height: 50px;
    outline: none;
    border: 1px solid #e66619;
    font-size: 25px;
    letter-spacing: 1px;
    color: #ffffff;
    background: transparent;
    border-radius: 30px;
    background-color: #e66619;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}


/* thiết kế dấu mũi tên */

.select::after {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    color: white;
}


/* Hiệu ứng hover */

.select:hover::after {
    color: Gainsboro;
}

.order {
    color: #Bb505c;
    text-align: center;
    text-decoration: none !important;
    font-size: 25px;
    width: 20%;
    height: 50px;
    outline: none;
    border: 1px solid #e66619;
    letter-spacing: 1px;
    color: #ffffff;
    border-radius: 30px;
    background-color: #e66619;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.or-row img {
    width: 30%;
    padding-left: 5%;
    outline: none;
    border: 1px solid #e66619;
    letter-spacing: 1px;
    background: transparent;
    border-radius: 30px;
    background-color: #ffffff;
}

.dh-text-top {
    width: 30%;
    font-size: 25px;
    color: #e66619;
    padding-left: 3%;
    padding-bottom: 5%;
    text-align: center;
}