/* PC */
@media (min-width: 1320px) {
    #header .header-logo {
        display: none;
    }

    #header .header-user,
    #header .header-menu {
        display: none;
    }

    .detail-login {
        display: none;
    }

    .nav-overlay {
        display: none;
    }

    .nav-mobile {
        display: none;
    }

    .list-product .card-item {
        width: 240px !important;
    }

    .avt-img {
        top: 293px;
        left: -425px;
        width: 78%;
    }

}


/* Tablet & Mobile */
@media (max-width: 1319px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    
    #header .navbar {
        justify-content: center;
    }

    #header .header-content {
        padding: 8px 12px 16px 12px;
    }

    #header .header-logo-2,
    #header .navbar-list, 
    #header .number-phone,
    #header .basket-text,
    #header .header-hotline,
    #header .list-category,
    #container .content-section-img {
        display: none;
    }

    #header .header-search .search-btn {
        line-height: 30px;
    }
    
    #header .header-content > div,
    #header .header-content .header-basket {
        margin-right: 8px;
        margin-left: 0;
    }

    #header .icon-basket, 
    #header .icon-hotline, 
    #header .icon-user, 
    #header .icon-menu {
        padding: 0;
    }

    #header .header-content .header-user {
        margin-right: 0;
    }

    .btn,
    #container .content-section-slider {
        width: 100%;
    }

    .slick-next,
    .slick-prev {
        display: none !important;
    }

    .nav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 12;
        display: none;
        margin: 0 !important;
    }

    .nav-mobile-list {
        list-style: none;
        margin-top: 40px;
    }

    .nav-nxb-list {
        background-color: #fff;
        display: none;
    }

    .nav-mobile-list li {
        list-style: none;
    }

    .nav-close i {
        padding: 12px;
        color: #e66619;
    }

    .nav-mobile-list > :first-child {
        margin-top: 55px;
    }

    #input-nav-mobile:checked ~ .nav-overlay {
        display: block;
    }

    #input-nav-mobile:checked ~ .nav-mobile {
        transform: translateX(0%);
        opacity: 1;
    }

    #mobile-nxb:checked ~ .nav-nxb-list {
        display: block;
    }

    #mobile-tg:checked ~ .nav-nxb-list {
        display: block;
    }

    #mobile-cat:checked ~ .nav-nxb-list {
        display: block;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1319px) {
    #header .header-logo {
        margin-top: 5px;
        max-width: 155px;
        max-height: 60px;
    }
    
    #header .header-search {
        height: 33px;
    }

    #header .icon-basket i,
    #header .icon-user i {
        font-size: 22px;
    }

    #header .icon-menu i {
        font-size: 30px;
    }

    #container {
        margin-top: 124px;
        padding: 0 16px;
    }

    .header-basket-notice {
        left: 10px;
        bottom: 16px;
    }

    .content-section-adv {
        height: 275px;
    }

    .detail-login {
        display: none;
    }

    .nav-mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        max-width: 100%;
        background-color: #25292f;
        box-shadow: 1px 0 0 #e66619;
        transform: translateX(-101%);
        z-index: 12;
        transition: all ease 0.5s;
        opacity: 0;
    }

    .nav-mobile-link {
        text-decoration: none;
        color: #fff;
        display: block;
        width: 100%;
        font-size: 24px;
        padding: 16px 28px;
        user-select: none;
    }

    .modal-container {
        min-width: 95%;
        min-height: 40%;
    }

    .nav-nxb-list .nav-nxb-item-name {
        display: block;
        width: 100%;
        padding: 16px 44px;
        user-select: none;
        font-size: 20px;
        color: #25292f;
        text-decoration: none;
    }
    
    .nav-close {
        position: absolute;
        font-size: 32px;
        top: 0;
        right: 3px;
    }

    .list-favorite .card-item {
        width: 30%;
    }

    .category-product .card-item {
        width: 46%;
    }

    .form-icon-detail {
        display: none;
    }

    .form-info {
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .update-info {
        margin: 10px 0 0 0;
        border-radius: 0;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .user-container-right {
        width: 65%;
    }

    .user-container-left {
        width: 35%;
    }

    .user-avatar img {
        width: 200px;
        height: 200px;
    }

    .main-img {
        height: 75%;
    }

    .low-img img {
        width: 21%;
    }

    .product-header .button-buy {
        width: 100%;
        margin-top: 22%;
    }

    .admin-add-product {
        width: 146px;
    }

    .admin-add-employee {
        width: 229px;
    }

    .admin-list-info-product > :first-child {
        display: none;
    }

    .admin-list-employee > :first-child,
    .admin-list-person > :first-child,
    .admin-list-product > :first-child {
        display: none;
    }

    .admin-list-info-product-person > :nth-child(2),
    .admin-list-employee-person > :nth-child(2) {
        display: none;
    }

    .admin-container-right {
        width: 67%;
    }

    .admin-container-left {
        width: 33%;
    }

    .admin-name {
        left: 7%;
        letter-spacing: 0.5px;
    }

    .admin-container {
        padding: 0 16px;
    }

    .admin-list-employee > :nth-child(2) {
        flex-basis: 28%;
    }

    .admin-list-employee > :nth-child(3) {
        flex-basis: 19%;
    }

    .admin-list-employee > :nth-child(4) {
        flex-basis: 35%;
    }

    .admin-list-employee > :nth-child(5) {
        flex-basis: 15%;
    }

    .admin-list-product > :nth-child(2) {
        flex-basis: 33%;
    }

    .admin-list-product > :nth-child(3) {
        flex-basis: 19%;
    }

    .admin-list-product > :nth-child(4) {
        flex-basis: 25%;
    }

    .admin-list-product > :nth-child(5) {
        flex-basis: 23%;
    }

    .admin-list-employee-person > :nth-child(3) {
        flex-basis: 34%;
    }

    .admin-list-employee-person > :nth-child(4) {
        flex-basis: 55%;
    }
    
    .admin-list-employee-person > :nth-child(5) {
        flex-basis: 27%;
    }

    .order-container-content ul > :first-child {
        flex-basis: 64%;
    }

    .order-container-content ul > :nth-child(2) {
        flex-basis: 1%;
    }

    .order-container-content ul > :nth-child(3) {
        flex-basis: 3%;
    }

    .order-container-content ul > :nth-child(4) {
        flex-basis: 7%;
    }

    #label-order-input {
        width: 60%;
    }

    .name-phone {
        flex-basis: 40%;
    }

    .list-product .card-item {
        width: 240px !important;
    }

    .user-name {
        width: 86%;
        font-size: 23px;
    }

    .avt-img {
        top: 293px;
        left: -304px;
        width: 53%;
    }
}

/* Mobile */
@media (min-width: 375px) and (max-width: 739px) {
    .header-basket-notice {
        left: 6px;
        bottom: 10px;
    }

    .header-basket-notice {
        font-size: 11px;
        padding: 0px 5px;
        line-height: 14px;
        left: 5px;
        bottom: 10px;
    }

    #header .icon-basket i,
    #header .icon-user i {
        font-size: 17px;
    }
    #header .header-search {
        height: 33px;
    }

    #header .header-logo {
        margin-top: 5px;
        max-width: 120px;
        max-height: 45px;
    }

    .column-content-1  {
        display: none;
    }

    #header .header-search {
        height: 33px;
    }

    #container {
        margin-top: 115px;
    }

    #container .content-section-adv {
        padding: 0;
        border-radius: 0;
    }

    .slick-list,
    .content-section-slider .slider-item img {
        border-radius: 0 !important;
    }

    #header .icon-menu i {
        font-size: 25px;
    }

    .content-section-slider .slider-item img {
        object-fit: inherit;
    }

    .content-section-adv {
        height: 143px;
    }

    .slick-dots {
        bottom: -12px;
    }

    .column-content-2 {
        flex-basis: 100%;
    }

    .modal-container-logo {
        display: none;
    }

    .modal-container-detail {
        width: 100%;
    }

    .modal-container {
        max-width: calc(100% - 18px);
    }

    .btn span {
        visibility: hidden;
    }

    .btn span::after {
        visibility: visible;
        content: "Đồng ý";
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
    }

    .modal-container-detail .login {
        top: 32px;
    }

    .modal-container-detail .register {
        top: 24px;
    }

    .content-list-product-title-name {
        font-weight: 600;
        text-decoration: none;
        color: #f7931e;
        border: 2px solid #f7931e;
        display: inline-block;
        border-radius: 16px;
        padding: 4px 5px;
        margin: 8px 0 8px 8px;
    }

    .content-list-product-title-name:last-child {
        margin-left: 4px !important;
    }

    .header-search .search-btn {
        padding: 0 12px;
    }

    .nav-mobile {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        max-width: 100%;
        background-color: #25292f;
        box-shadow: 1px 0 0 #e66619;
        transform: translateX(-101%);
        z-index: 12;
        transition: all ease 0.5s;
        opacity: 0;
        overflow-y: scroll;
    }

    .nav-mobile-link {
        text-decoration: none;
        color: #fff;
        display: block;
        width: 100%;
        font-size: 16px;
        padding: 16px 28px;
        user-select: none;
    }

    .nav-nxb-list .nav-nxb-item-name {
        display: block;
        width: 100%;
        padding: 16px 44px;
        user-select: none;
        font-size: 14px;
        color: #25292f;
        text-decoration: none;
    }

    .nav-close {
        position: absolute;
        font-size: 24px;
        top: 0;
        right: 3px;
    }
    
    .basket-container {
        flex-direction: column;
    }

    .basket-container-left {
        width: 100%;
        padding: 0 8px;
    }

    .basket-container-right {
        margin-top: 8px;
        width: 100%;
        padding: 0 8px;
    }

    .basket-product-item img {
        max-height: 65px;
        width: auto;
    }

    .product-price,
    .product-item-name p,
    .product-item-name label,
    .product-item-name label input {
        font-size: 13px;
    }

    .cancel-product {
        font-size: 15px;
    }

    
    .list-favorite .card-item {
        width: 100%;
    }

    .category-container-left {
        display: none;
    }

    .category-container-right {
        width: 100%;
        padding: 0 8px;
    }

    .category-product {
        justify-content: space-around;
    }

    .category-product .card-item {
        width: 46%;
        margin: 5px;
        padding: 0;
    }

    .category-product .card-item .card-item-title {
        margin: 0;
        font-size: 15px;
    }

    .category-product .card-item .card-item-price,
    .category-product .card-item .add-to-basket {
        font-size: 14px;
    }

    .category-product .new-price {
        font-size: 15px;
    }

    .form-icon-detail {
        display: none;
    }

    .form-info {
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .update-info {
        margin: 10px 0 0 0;
        border-radius: 0;
        width: 100%;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .user-container {
        flex-direction: column;
    }

    .user-container-left {
        width: 100%;
        padding: 0 8px;
        margin-bottom: 16px;
    }

    .user-container-right {
        width: 100%;
        padding: 0 8px;
        box-shadow: none;
    }

    .favorite-container {
        padding: 0 8px;
    }

    .detail-product {
        padding: 0 8px;
    }

    .product-container {
        flex-direction: column;
    }

    .product-container-left {
        width: 100%;
    }

    .low-img img {
        width: 20%;
    }

    .product-container-right {
        width: 100%;
        margin-top: 16px;
        padding: 15px 20px;
    }

    .product-header .button-buy {
        width: 100%;
        margin-top: 32px;
    }
    
    .admin-container {
        padding: 0 8px;
        flex-direction: column;
    }

    .admin-container-left {
        width: 100%;
        margin: 0;
    }

    .admin-container-right {
        width: 100%;
        margin-top: 16px;
    }

    .admin-add-employee {
        width: 170px;
        font-size: 13px;
    }

    .admin-add-product {
        width: 111px;
        font-size: 13px;
    }

    #admin-container {
        margin-top: 116px;
    }
    
    .admin-list-info-product > :first-child,
    .admin-list-info-product > :nth-child(4) {
        display: none;
    }

    .admin-list-product > :first-child,
    .admin-list-product > :nth-child(4) {
        display: none;
    }

    .admin-list-employee > :first-child,
    .admin-list-employee > :nth-child(2) {
        display: none;
    }

    .admin-list-product > :nth-child(2) {
        flex-basis: 47%;
    }

    .admin-list-product > :nth-child(3) {
        flex-basis: 32%;
    }

    .admin-list-product > :nth-child(5) {
        flex-basis: 36%;
    }

    .image-employee,
    .image-person,
    .image-product {
        display: none;
    }

    .modal-employee-admin .modal-employee-detail,
    .modal-person-admin .modal-person-detail,
    .modal-product-admin .modal-product-detail {
        width: 100%;
    }

    .admin-list-employee > :nth-child(3) {
        flex-basis: 38%;
    }

    .admin-list-employee > :nth-child(4) {
        flex-basis: 50%;
    }

    .admin-list-employee > :nth-child(5) {
        flex-basis: 34%;
    }

    .name-phone {
        width: 50%;
    }

    .address {
        width: 50%;
    }

    .order-address {
        padding: 24px 15px;
    }

    .order-container-header,
    .order-container-footer {
        padding: 24px 15px 0 15px;
    }

    .check-order-container-header {
        padding: 12px 15px 12px 15px;
    }

    .order-container-content {
        padding: 12px 15px 0 15px;
    }

    .order-container-button {
        padding: 24px 15px;
    }

    .order-content-section {
        padding: 0 8px;
    }

    .order-container-header ul,
    .check-order-container-header ul {
        width: 52%;
    }

    .check-order-name-phone .address {
        width: 50%;
    }

    #label-check-order-input {
        width: 100%;
    }

    .order-container-content ul > :first-child {
        flex-basis: 0;
    }

    .order-container-content ul > :nth-child(2) {
        flex-basis: 38%;
    }

    .order-container-content ul > :nth-child(3) {
        flex-basis: 30%;
    }
    
    .order-container-content ul > :nth-child(4) {
        flex-basis: 28%;
    }

    .order-notify {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #label-order-input {
        width: 100%;
    }

    #order-input {
        width: 75%;
    }
    
    .order-notify p {
        margin-top: 16px;
    }

    .order-container-button {
        width: 100%;
    }

    .order-container-button button {
        width: 100%;
    }

    .list-toast {
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }

    .list-product .card-item {
        width: 378px !important;
    }

    .avt-img {
        top: -140px;
        width: 100%;
        left: -20px;
    }

    .user-header {
        margin-top: 6px;
    }

    .user-content {
        margin-bottom: 60px;
    }

    .user-name {
        font-size: 23px;
        width: 58%;
    }
}


@media (max-width: 374px) { 
    .header-search {
        flex-basis: 75% !important;
    }
}